Repository kinfuy/sidekick: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/src/data/data.adapter.ts
  packages/server/src/data/data.controller.ts
  packages/server/src/data/data.interface.ts
  packages/server/src/data/data.module.ts
  packages/server/src/data/data.service.ts
  packages/server/src/data/entities/icon.entity.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/src/data/data.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: weibo api
  packages/server/src/data/data.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/src/data/data.service.ts
  packages/server/src/utils/unit.transform.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/src/auth/auth.module.ts
  packages/server/src/common/services/afdian.service.ts
  packages/server/src/common/services/http.services.ts
  packages/server/src/data/data.module.ts
  packages/server/src/data/data.service.ts
  packages/server/src/subscription/subscription.module.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: bilibili user
  packages/extension/vite.config.ts.timestamp-1724336522274-9e3b4e939e44a.mjs
  packages/server/src/card/card.interface.ts
  packages/server/src/card/card.service.ts
  packages/server/src/card/entities/card_template.entity.ts
  packages/server/src/common/exceptions/custom.exception.ts
  packages/server/src/common/services/http.services.ts
  packages/server/src/data/data.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/src/card/card.controller.ts
  packages/server/src/card/card.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/src/card/card.interface.ts
  packages/server/src/card/card.module.ts
  packages/server/src/card/card.service.ts
  packages/server/src/card/entities/card.entity.ts
  packages/server/src/card/entities/card_template.entity.ts
  packages/server/src/data/data.controller.ts
  packages/server/src/data/data.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: jianshu api
  packages/server/src/app.module.ts
  packages/server/src/common/services/http.services.ts
  packages/server/src/data/data.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/src/common/services/http.services.ts
  packages/server/src/data/data.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: 缓存传送门新增撤销同步
  packages/extension/src/applications/storage-portal/store.ts
  packages/extension/src/applications/storage-portal/style/Storage.less
  packages/extension/src/applications/storage-portal/view/inject/select-web.vue
  packages/extension/src/applications/storage-portal/view/inject/storage-portal.vue
  packages/extension/src/styles/ui.less
  packages/server/src/card/card.interface.ts
  packages/server/src/card/card.service.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/src/card/card.service.ts
  packages/server/src/data/data.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: http service header 不生效
  packages/server/src/common/services/http.services.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/src/card/card.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: chrome130 csp
  packages/extension/manifest.config.ts
  packages/extension/package.json
  packages/extension/release/DevTester-0.0.3.zip
  packages/extension/vite.config.ts.timestamp-1724336522274-9e3b4e939e44a.mjs
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

release: v0.0.4
  packages/extension/manifest.config.ts
  packages/extension/package.json
  packages/extension/release/DevTester-0.0.4.zip
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  .commitlintrc.js
Due: none

fix: css 污染问题
  packages/extension/manifest.config.ts
  packages/extension/release/DevTester-0.0.4.zip
  packages/extension/src/applications/inject.ts
  packages/extension/src/applications/install.ts
  packages/extension/src/applications/web-notice/inject.ts
  packages/extension/src/applications/web-notice/install.ts
  packages/extension/src/inject/component/index.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

release: 0.0.5
  packages/extension/manifest.config.ts
  packages/extension/release/DevTester-0.0.4.zip
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/package.json
  packages/extension/release/DevTester-0.0.5.zip
Due: none

fix: detail
  packages/extension/manifest.config.ts
  packages/extension/src/applications/content.ts
  packages/extension/src/applications/index.ts
  packages/extension/src/applications/install.ts
  packages/extension/src/applications/mock/content.ts
  packages/extension/src/applications/mock/content/fetch.ts
  packages/extension/src/applications/mock/content/fetchUtil.ts
  packages/extension/src/applications/mock/content/mock.ts
  packages/extension/src/applications/mock/content/xhr.ts
  packages/extension/src/applications/mock/index.ts
  packages/extension/src/applications/mock/inject.ts
  packages/extension/src/applications/mock/install.ts
  packages/extension/src/applications/mock/mock.ts
  packages/extension/src/applications/mock/store.ts
  packages/extension/src/applications/mock/view/popup/mock.vue
  packages/extension/src/applications/mock/view/setting/mock.vue
  packages/extension/src/background/index.ts
  packages/extension/src/content/index.ts
  packages/extension/src/core/application.ts
  packages/extension/src/core/core-app.ts
  packages/extension/src/inject/component/App.vue
  packages/extension/src/inject/index.ts
  packages/extension/src/types/core-app.type.ts
  packages/extension/src/utils/chrome.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: 修复侧边栏逻辑
  packages/extension/manifest.config.ts
  packages/extension/src/background/index.ts
  packages/extension/src/core/core-app.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

chore: readme
  README.MD
Due: none

chore: detail
  README.MD
Due: none

fix: 更新依赖和配置，优化表格样式
  .eslintignore
  packages/extension/package.json
  packages/extension/src/applications/dev-account/view/setting/dev-account.vue
  packages/extension/src/setting/style/setting.less
  packages/extension/vite.config.ts
  pnpm-lock.yaml
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

Path conditions:
  stylelint --config ./.stylelintrc --fix: any of: packages/**/*.{vue,less}
  eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue: any of: packages/**/*.{js,ts,css,vue}
