Repository kinfuy/sidekick: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

chore: remove file
  package.json
  packages/extension/manifest.config.ts
  packages/extension/option.html
  packages/extension/popup.html
  packages/extension/vite.config.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: 工具坞
  packages/extension/manifest.config.ts
  packages/extension/src/assets/app/browser.png
  packages/extension/src/assets/app/clipboard.png
  packages/extension/src/assets/app/notice.png
  packages/extension/src/assets/app/pen.png
  packages/extension/src/assets/app/shot.png
  packages/extension/src/content/components/fluorescence.vue
  packages/extension/src/content/components/tool.vue
  packages/extension/src/content/index.ts
  packages/extension/src/content/inject/App.vue
  packages/extension/src/content/inject/index.ts
  packages/extension/vite.config.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: 优化工具坞
  packages/extension/src/content/components/fluorescence.vue
  packages/extension/src/content/inject/App.vue
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/content/components/fluorescence.vue
  packages/extension/src/content/inject/App.vue
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/content/components/dialog.vue
  packages/extension/src/content/components/fluorescence.vue
  packages/extension/src/content/inject/App.vue
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  .stylelintrc
  packages/extension/src/content/inject/App.vue
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/content/inject/App.vue
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: 更新侧边UI
  packages/extension/manifest.config.ts
  packages/extension/newtab.html
  packages/extension/option.html
  packages/extension/popup.html
  packages/extension/src/content/components/fluorescence.vue
  packages/extension/src/content/components/tool.vue
  packages/extension/src/pages/background/index.ts
  packages/extension/src/pages/common/Dialog/Dialog.less
  packages/extension/src/pages/common/Dialog/Dialog.vue
  packages/extension/src/pages/common/Fluorescence/Fluorescence.less
  packages/extension/src/pages/common/Fluorescence/Fluorescence.vue
  packages/extension/src/pages/common/ToolItem/ToolItem.less
  packages/extension/src/pages/common/ToolItem/ToolItem.vue
  packages/extension/src/pages/content/index.ts
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/pages/content/inject/index.ts
  packages/extension/src/store/useTheme.ts
  packages/extension/src/styles/index.less
  packages/extension/src/styles/theme.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/pages/common/ToolItem/ToolItem.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix

feat: theme
  packages/extension/src/assets/app/clipboard.png
  packages/extension/src/assets/app/notice.png
  packages/extension/src/assets/app/shot.png
  packages/extension/src/pages/common/Dialog/Dialog.less
  packages/extension/src/pages/common/Dialog/Dialog.vue
  packages/extension/src/pages/common/ToolItem/ToolItem.less
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/store/useTheme.ts
  packages/extension/src/styles/index.less
  packages/extension/src/styles/theme.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/pages/common/Fluorescence/Fluorescence.less
  packages/extension/src/pages/common/Fluorescence/Fluorescence.vue
  packages/extension/src/pages/content/inject/App.vue
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/pages/common/App/Notice.tsx
  packages/extension/src/pages/common/Dialog/Dialog.less
  packages/extension/src/pages/common/Dialog/Dialog.vue
  packages/extension/src/pages/common/Fluorescence/Fluorescence.less
  packages/extension/src/utils/chrome.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/assets/image/empty.svg
  packages/extension/src/pages/common/App/Notice.less
  packages/extension/src/pages/common/App/Notice.tsx
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/styles/index.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: setting
  packages/extension/src/assets/image/set.svg
  packages/extension/src/pages/common/App/Notice.less
  packages/extension/src/pages/common/App/Notice.tsx
  packages/extension/src/pages/common/Dialog/Dialog.less
  packages/extension/src/pages/common/Dialog/Dialog.vue
  packages/extension/src/pages/common/Empty/Empty.less
  packages/extension/src/pages/common/Empty/Empty.tsx
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/styles/index.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: init serve
  .eslintignore
  packages/server/.eslintrc.js
  packages/server/.gitignore
  packages/server/.prettierrc
  packages/server/README.md
  packages/server/nest-cli.json
  packages/server/package.json
  packages/server/src/app.controller.ts
  packages/server/src/app.module.ts
  packages/server/src/app.service.ts
  packages/server/src/main.ts
  packages/server/tsconfig.build.json
  packages/server/tsconfig.json
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: store
  .eslintrc.json
  .prettierrc
  packages/extension/src/pages/common/App/Notice/Notice.less
  packages/extension/src/pages/common/App/Notice/Notice.tsx
  packages/extension/src/pages/common/Dialog/Dialog.vue
  packages/extension/src/pages/content/index.ts
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/pages/content/inject/index.ts
  packages/extension/src/store/useNotice.ts
  packages/extension/src/store/useTheme.ts
  packages/extension/src/utils/index.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/pages/common/App/Notice/Notice.tsx
  packages/extension/src/pages/content/inject/App.vue
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/pages/common/App/Notice/Notice.less
  packages/extension/src/pages/common/App/Notice/Notice.tsx
  packages/extension/src/pages/common/Dialog/Dialog.less
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/styles/index.less
  packages/extension/src/styles/ui.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: useapp
  packages/extension/src/assets/image/dark.svg
  packages/extension/src/assets/image/light.svg
  packages/extension/src/pages/common/App/Notice/Notice.less
  packages/extension/src/pages/common/Dialog/Dialog.less
  packages/extension/src/pages/common/Fluorescence/Fluorescence.less
  packages/extension/src/pages/common/ToolItem/ToolItem.less
  packages/extension/src/pages/common/ToolItem/ToolItem.vue
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/store/useApp.ts
  packages/extension/src/styles/index.less
  packages/extension/src/styles/ui.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/pages/common/App/Setting/Setting.less
  packages/extension/src/pages/common/App/Setting/Setting.tsx
  packages/extension/src/pages/common/Dialog/Dialog.vue
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/store/useTheme.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: 基础设置
  packages/extension/src/pages/common/App/Setting/Setting.less
  packages/extension/src/pages/common/App/Setting/Setting.tsx
  packages/extension/src/pages/common/Dialog/Dialog.less
  packages/extension/src/pages/content/inject/App.less
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/styles/index.less
  packages/extension/src/styles/ui.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: css var
  packages/extension/src/pages/common/Dialog/Dialog.less
  packages/extension/src/pages/common/Fluorescence/Fluorescence.less
  packages/extension/src/styles/index.less
  packages/extension/src/styles/ui.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix

fix: detail
  packages/extension/src/pages/content/inject/App.vue
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/pages/common/App/Notice/Notice.tsx
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/styles/index.less
  packages/extension/src/styles/ui.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: notice ui
  packages/extension/src/pages/common/App/Notice/Notice.tsx
  packages/extension/src/pages/common/App/Setting/Setting.tsx
  packages/extension/src/pages/common/Input/index.tsx
  packages/extension/src/styles/index.less
  packages/extension/src/styles/ui.less
  packages/extension/src/styles/var.less
Due: stylelint --config ./.stylelintrc --fix

refactor: 弹出逻辑
  packages/extension/src/pages/content/inject/App.less
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/store/useTheme.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: 优化侧边弹出效果
  .stylelintrc
  packages/extension/package.json
  packages/extension/src/pages/content/inject/App.less
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/store/useTheme.ts
  pnpm-lock.yaml
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/pages/content/inject/App.less
  packages/extension/src/pages/content/inject/App.vue
  packages/extension/src/store/useTheme.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: user server
  packages/server/.env
  packages/server/nest-cli.json
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/config/const.ts
  packages/server/src/config/index.ts
  packages/server/src/filters/http-exception.filter.ts
  packages/server/src/main.ts
  packages/server/src/service/email.service.ts
  packages/server/src/user/dto/create-user.dto.ts
  packages/server/src/user/dto/update-user.dto.ts
  packages/server/src/user/entities/user.entity.ts
  packages/server/src/user/user.controller.ts
  packages/server/src/user/user.module.ts
  packages/server/src/user/user.service.ts
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/server/package.json
  packages/server/src/service/email.service.ts
  pnpm-lock.yaml
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  packages/extension/src/pages/content/inject/App.less
Due: stylelint --config ./.stylelintrc --fix

feat: build 优化
  packages/extension/manifest.config.ts
  packages/extension/package.json
  packages/extension/src/pages/background/index.ts
  packages/extension/src/pages/common/ToolItem/ToolItem.less
  packages/extension/src/pages/content/inject/App.less
  packages/extension/vite.config.ts
  pnpm-lock.yaml
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: 更新更多细节
  packages/extension/newtab.html
  packages/extension/option.html
  packages/extension/popup.html
  packages/extension/src/applications/app-setting/index.ts
  packages/extension/src/applications/app-setting/setting/Setting.tsx
  packages/extension/src/applications/index.ts
  packages/extension/src/applications/web-notice/index.ts
  packages/extension/src/core/application.ts
  packages/extension/src/core/event-manage.ts
  packages/extension/src/core/store-manage.ts
  packages/extension/src/core/store.ts
  packages/extension/src/inject/component/App.vue
  packages/extension/src/popup/index.ts
  packages/extension/src/store/useApp.ts
  packages/extension/src/store/useTheme.ts
  packages/extension/src/styles/ui.less
  packages/extension/src/types/content.type.ts
  packages/extension/src/types/core-app.type.ts
  packages/extension/src/utils/chrome.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

fix: detail
  .gitignore
  packages/server/.env
  packages/server/.gitignore
  packages/server/src/config/index.ts
  packages/server/src/service/email.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

faet: email server
  packages/server/src/app.controller.ts
  packages/server/src/app.module.ts
  packages/server/src/config/index.ts
  packages/server/src/service/email.service.ts
Due: eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: app logic
  packages/extension/src/applications/app-setting/index.ts
  packages/extension/src/applications/app-setting/view/app-setting.tsx
  packages/extension/src/applications/content.ts
  packages/extension/src/applications/index.ts
  packages/extension/src/applications/install.ts
  packages/extension/src/applications/web-notice/components/notice.vue
  packages/extension/src/applications/web-notice/index.ts
  packages/extension/src/applications/web-notice/store.ts
  packages/extension/src/applications/web-notice/view/web-notice.tsx
  packages/extension/src/components/common/Dialog/Dialog.vue
  packages/extension/src/content/core.ts
  packages/extension/src/content/index.ts
  packages/extension/src/core/application.ts
  packages/extension/src/inject/component/App.vue
  packages/extension/src/inject/component/index.ts
  packages/extension/src/inject/index.ts
  packages/extension/src/store/useApp.ts
  packages/extension/src/store/useAuth.ts
  packages/extension/src/store/useNotice.ts
  packages/extension/src/types/content.type.ts
  packages/extension/src/types/core-app.type.ts
  packages/extension/src/utils/chrome.ts
  packages/extension/vite.config.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: login
  packages/extension/src/applications/app-setting/view/app-setting.tsx
  packages/extension/src/components/common/Dialog/Dialog.vue
  packages/extension/src/components/common/Login/Login.less
  packages/extension/src/components/common/Login/Login.vue
  packages/extension/src/inject/component/App.less
  packages/extension/src/store/useAuth.ts
  packages/extension/src/styles/index.less
  packages/extension/src/styles/ui.less
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: login
  packages/extension/package.json
  packages/extension/src/apis/axios.ts
  packages/extension/src/apis/user.ts
  packages/extension/src/components/common/Input/index.tsx
  packages/extension/src/components/common/Login/Login.less
  packages/extension/src/components/common/Login/Login.vue
  packages/extension/src/styles/ui.less
  packages/server/.prettierrc
  packages/server/package.json
  packages/server/src/app.controller.ts
  packages/server/src/app.module.ts
  packages/server/src/dto/login.dto.ts
  packages/server/src/main.ts
  packages/server/src/service/email.service.ts
  packages/server/src/service/login.service.ts
  packages/server/src/user/dto/update-user.dto.ts
  packages/server/src/user/dto/user.dto.ts
  packages/server/src/user/entities/user.entity.ts
  packages/server/src/user/user.controller.ts
  packages/server/src/user/user.module.ts
  packages/server/src/user/user.service.ts
  pnpm-lock.yaml
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

feat: login new page
  packages/extension/login.html
  packages/extension/manifest.config.ts
  packages/extension/src/apis/user.ts
  packages/extension/src/applications/web-notice/index.ts
  packages/extension/src/components/common/Dialog/Dialog.vue
  packages/extension/src/components/common/Login/Login.less
  packages/extension/src/components/common/Login/Login.vue
  packages/extension/src/inject/component/App.less
  packages/extension/src/inject/component/App.vue
  packages/extension/src/login/index.ts
  packages/extension/src/login/login.vue
  packages/extension/src/login/style/Login.less
  packages/extension/src/popup/index.ts
  packages/extension/src/popup/popup.vue
  packages/extension/src/styles/ui.less
  packages/extension/vite.config.ts
  packages/server/src/app.controller.ts
  packages/server/src/main.ts
  packages/server/src/service/email.service.ts
  packages/server/src/service/login.service.ts
Due: stylelint --config ./.stylelintrc --fix, eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue

Path conditions:
  stylelint --config ./.stylelintrc --fix: any of: packages/**/*.{vue,less}
  eslint -c ./.eslintrc.json --fix --ext .jsx,.js,.tsx,.ts,.vue: any of: packages/**/*.{js,ts,css,vue}
